.Navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #881e6e;
  color: #fff;
}

.Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 40px;
}

.Logo {
  font-size: 20px;
  font-weight: 700;
}

.Link {
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
}